<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    <table>
      <thead>
        <tr>
          <th>Bookmarks</th>
        </tr>
      </thead>
      <tbody>
      <%= @bookmarks.map { |bookmark|
       "<tr>
          <td>
            <a href=\"#{bookmark.url}\">" + bookmark.title + "</a>
            <form action=\"/delete\" method=\"post\">
              <input type=\"submit\" 
                     name=\"#{bookmark.title}\" 
                     id=\"delete-#{bookmark.title.gsub(' ', '-').downcase}\" 
                     value=\"DELETE\">
            </form>
          </td>
        </tr>"
      }.join %>
      </tbody>
  </table>

  <form action="/bookmarks" method="POST">
    <input type="text" name="title" placeholder="Title"/>
    <input type="text"  name="url" placeholder="URL"/>
    <input type="submit" value="Submit"/>
  </form>
</body>
</html>